@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
}

.hand {
    /* opacity: 0; */
}

.piptyk {
    /* transform: scale(0.15); */
}

.logo-wrapper {
    position: relative;
    overflow: hidden;
}

header h1.logo, header h1.logo-blur, h1.logo-white {
    font-size: 52px;
    margin: 30px 0 0;
}

header h1.logo {
    position: relative;
    z-index: 12;
}

h1.logo-white {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto 0;
    width: 400px;
    display: inline-block;
    /* background: green; */
    color: transparent;
    background: white;
    overflow: hidden;
}

h1.logo-blur {
    z-index: 11;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto 0 !important;
    width: 400px;
    display: inline-block;
    /* background: green; */
    color: transparent;
    background: white;
    filter: blur(8px);
    overflow: hidden;
}

.slogan-wrapper {
    position: relative;
    overflow: hidden;
}

header h2.slogan, header h2.slogan-blur, h2.slogan-white {
    font-size: 18px;
    /* font-size: 13px; */
    font-weight: 100;
    /* font-family: 'Kurale', serif; */
    /* font-family: 'Kelly Slab', cursive; */
    /* font-style: italic; */
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Marck Script', cursive;
    word-spacing: -0.8px;
    /* color: #d1d1d6; */
    /* color: #c7c7cc; */
    /* color: #aeaeb2; */
    /* color: #636366; */
}

h2.slogan {
    position: relative;
    z-index: 12;
    color: #8e8e93;
}

h2.slogan-white {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 580px;
    display: inline-block;
    /* background: green; */
    color: transparent;
    background: white;
    overflow: hidden;
}

h2.slogan-blur {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 580px;
    display: inline-block;
    /* background: green; */
    color: transparent;
    background: white;
    filter: blur(8px);
    overflow: hidden;
}

@media only screen and (max-device-width: 1125px) {
    header h1.logo, header h1.logo-blur, h1.logo-white {
        font-size: 52px;
        margin: 5px 0 0;
    }

    h1.logo-white {
        width: 90vw;
    }

    h1.logo-blur {
        width: 90vw;
    }

    h2.slogan-white {
        width: 90vw;
    }

    h2.slogan-blur {
        width: 90vw;
    }
}

h2.slogan-blur .circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(238, 238, 238);
    box-shadow: inset 0px 0px 20px rgba(150, 150, 150, 1);
    /* box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.4); */
}

h1.logo-blur .circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(238, 238, 238);
    box-shadow: inset 0px 0px 20px rgba(150, 150, 150, 0.9);
    /* box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.4); */
}

main {
    padding: 70px 0 0;
    display: flex;
    justify-content: space-evenly;
}

main section.clock-section {
    width: 300px;
}

@media only screen and (max-device-width: 1125px) {
    .main-wrapper {
        /* width: 100vw; */
        overflow-x: scroll;
        /* overflow-y: hidden; */
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-padding: 50% 10px;
        /* padding: 1rem; */
    }

    section.clock-section {
        scroll-snap-align: center;
        width: 300px;
        /* margin: 0 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        /* box-sizing: border-box; */
        
        /* justify-content: ; */
        width: 930px;
        /* width: auto; */
        /* padding: 0; */
        padding: 0 20vw;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
}

@media only screen and (max-device-width: 340px) {
    main {
        width: 740px;
    }

    main section.clock-section {
        width: 240px;
    }

    main .clock {
        transform: scale(0.8);
    }
}

main section.clock-section article.desc {
    margin-top: 20px;
    font-size: 16px;
    /* text-align: left; */
    line-height: 23px;
    word-spacing: 4px;
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 50px;
    border-radius: 100%;
}

.clock .digit, .clock .weekday {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 29px;
}

.clock.test .digit {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Lobster Two', cursive; */
    /* font-size: 20px; */
}

.clock.calendar .digit {
    font-family: 'Lobster', cursive;
    /* font-family: 'Lobster Two', cursive; */
    font-size: 20px;
}

.clock.calendar .weekday {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Lobster Two', cursive; */
    font-size: 15px;
}

.weekday.digit-1 {
    transform: rotate(0deg) translate(0, -87px) rotate(-0deg);
}

.weekday.digit-2 {
    transform: rotate(51deg) translate(0, -87px) rotate(-51deg);
}

.weekday.digit-3 {
    transform: rotate(102deg) translate(0, -87px) rotate(-102deg);
}

.weekday.digit-4 {
    transform: rotate(153deg) translate(0, -87px) rotate(-153deg);
}

.weekday.digit-5 {
    transform: rotate(204deg) translate(0, -87px) rotate(-204deg);
}

.weekday.digit-6 {
    transform: rotate(255deg) translate(0, -87px) rotate(-255deg);
}

.weekday.digit-7 {
    transform: rotate(306deg) translate(0, -87px) rotate(-306deg);
}

.test .digit {
    position: absolute;
    z-index: 1;
    height: 40px;
    background-image: url(./test-min.png);
    background-size: cover;
}

.custom .digit {
    position: absolute;
    z-index: 170;
    height: 40px;
    /* background-image: url(./test-min.png); */
    background-size: cover;
}

.digit.digit-1 {
    width: 11px;
    transform: rotate(30deg) translate(0, -125px) rotate(-30deg);
}

.digit.digit-2 {
    width: 16.5px;
    background-position-x: -11px;
    transform: rotate(60deg) translate(0, -125px) rotate(-60deg);
}

.digit.digit-3 {
    width: 16.5px;
    background-position-x: -28px;
    transform: rotate(90deg) translate(0, -125px) rotate(-90deg);
}

.digit.digit-4 {
    width: 18px;
    background-position-x: -44.5px;
    transform: rotate(120deg) translate(0, -125px) rotate(-120deg);
}

.digit.digit-5 {
    width: 17.5px;
    background-position-x: -63px;
    transform: rotate(150deg) translate(0, -125px) rotate(-150deg);
}

.digit.digit-6 {
    width: 16.5px;
    background-position-x: -81px;
    transform: rotate(180deg) translate(0, -125px) rotate(-180deg);
}

.digit.digit-7 {
    width: 17.5px;
    background-position-x: -98px;
    transform: rotate(210deg) translate(0, -125px) rotate(-210deg);
}

.digit.digit-8 {
    width: 16.5px;
    background-position-x: -116px;
    transform: rotate(240deg) translate(0, -125px) rotate(-240deg);
}

.digit.digit-9 {
    width: 17px;
    background-position-x: -132.5px;
    transform: rotate(270deg) translate(0, -125px) rotate(-270deg);
}

.digit.digit-10 {
    width: 30px;
    background-position-x: -150px;
    transform: rotate(300deg) translate(0, -125px) rotate(-300deg);
}

.digit.digit-11 {
    width: 25px;
    background-position-x: -180px;
    transform: rotate(330deg) translate(0, -125px) rotate(-330deg);
}

.digit.digit-12 {
    width: 32px;
    background-position-x: -205px;
    transform: translate(0, -125px)
}

.clock.calendar .digit.digit-1 {
    transform: rotate(30deg) translate(0, -135px); /* rotate(-30deg); */
}

.clock.calendar .digit.digit-2 {
    transform: rotate(60deg) translate(0, -135px); /* rotate(-60deg); */
}

.clock.calendar .digit.digit-3 {
    transform: rotate(90deg) translate(0, -135px); /* rotate(-90deg); */
}

.clock.calendar .digit.digit-4 {
    transform: rotate(120deg) translate(0, -135px); /* rotate(-120deg); */
}

.clock.calendar .digit.digit-5 {
    transform: rotate(150deg) translate(0, -131px) rotate(-180deg);
}

.clock.calendar .digit.digit-6 {
    transform: rotate(180deg) translate(0, -131px) rotate(-180deg);
}

.clock.calendar .digit.digit-7 {
    transform: rotate(210deg) translate(0, -131px) rotate(-180deg);
}

.clock.calendar .digit.digit-8 {
    transform: rotate(240deg) translate(0, -135px); /* rotate(-240deg); */
}

.clock.calendar .digit.digit-9 {
    transform: rotate(270deg) translate(0, -135px); /* rotate(-270deg); */
}

.clock.calendar .digit.digit-10 {
    transform: rotate(300deg) translate(0, -135px); /* rotate(-300deg); */
}

.clock.calendar .digit.digit-11 {
    transform: rotate(330deg) translate(0, -135px); /* rotate(-330deg); */
}

.clock.calendar .digit.digit-12 {
    transform: translate(0, -135px)
}

.digit-input {
    position: relative;
    z-index: 35;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border: none;
    background: none;
    border: rgba(0, 0, 0, 0) 1px solid;
    transition: all ease-out 500ms;
}

.digit-input.editable {
    transition: all ease-out 500ms;
    box-shadow: #2b92ff 0 0 5px;
    border: #4f4f4f 1px solid;
    border-radius: 2px;
}

.edit-btn {
    /* display: none; */
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    transform: translate(-10px, 15px) rotate(-42deg);
    cursor: pointer;
    transition: all ease-out 100ms;
}
.edit-btn:hover {
    transform: scale(1.2) translate(-7px, 10px) rotate(-30deg);
    padding-bottom: 5px;
    transition: all ease-out 100ms;
}

.clock {
    position: relative;
}

.clock.custom .clockface {
    z-index: 100;
}
.clock .clockface {
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px;
    z-index: 30;
}

.clock .clockhands {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
    top: 0;
}

.clock .clockhands .piptyk {
    z-index: 50;
    position: absolute;
    top: 145px;
    left: 145px;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    /* background: gold; */
    background-color: transparent;
    background-image: url(./piptyk.png);
    background-size: contain;
    background-position: center;
    /* opacity: 0; */
}

.clock .clockhands .hand {
    position: absolute;
    background: black;
    width: 4px;
    height: 120px;
    border-radius: 3px;
    transform-origin: 50% 100%; /* bottom center; */
    /* transform: translate(148px, 30px); */
    overflow: hidden;
}

.clock .clockhands .hand.hour {
    top: 70.5px;
    left: 142px;
    width: 15px;
    height: 99px;
    border-radius: 10px;
    transform: rotate(-100deg);
    background-color: transparent;
    background-image: url(./hour-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 81%;
    /* display: none; */
    /* animation: clockround 43200s linear 0s infinite forwards; */
}

.clock .clockhands .hand.minute {
    position: absolute;
    z-index: 30;
    top: 42.8px;
    left: 143.5px;
    width: 13px;
    height: 125px;
    transform: rotate(110deg);
    background-color: transparent;
    background-image: url(./minute-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 85.8%;
    /* display: none; */
    /* animation: clockround 3600s linear 0s infinite forwards; */
}

.clock .clockhands .hand.second {
    z-index: 50;
    top: 46px;
    left: 146px;
    width: 6px;
    height: 145px;
    /* background: #ff3b30; */
    background-color: transparent;
    background-image: url(./second-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 71%;
    transform: rotate(0deg);
    background-repeat: no-repeat;
    transition: all linear 1s;
    /* animation: clockround 60s linear 0s infinite forwards; */
}

.clock.super .triangle {
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
    margin: auto;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

.clock.super .clockhands .hand {
    position: absolute;
    background: black;
    width: 4px;
    height: 120px;
    border-radius: 3px;
    /* transform: translate(148px, 30px); */
    transform-origin: 50% 50%;
}

.clock.super .clockhands .hand.hour {
    top: 10px;
    left: 10px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    transform: rotate(60deg);
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px; */
    background-image: none;
    background-size: contain;
    background-position: center;
    /* transform-origin: 50% 81%; */
    border-radius: 200px;
    transition: all linear 1s;
    /* display: none; */
    /* animation: clockround 43200s linear 0s infinite forwards; */
}

.clock.super .clockhands .hand.minute {
    top: 40px;
    left: 40px;
    width: 220px;
    height: 220px;
    transform: rotate(110deg);
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px; */
    background-image: none;
    background-size: contain;
    background-position: center;
    /* transform-origin: 50% 85.8%; */
    border-radius: 150px;
    transition: all linear 60s;
    /* display: none; */
    /* animation: clockround 3600s linear 0s infinite forwards; */
}

.clock.super .clockhands .hand.second {
    z-index: 50;
    top: 58px;
    left: 58px;
    width: 184px;
    height: 184px;
    /* background: #ff3b30; */
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px; */
    background-image: none;
    background-size: contain;
    background-position: center;
    /* transform-origin: 50% 71%; */
    transform: rotate(0deg);
    background-repeat: no-repeat;
    transition: all linear 1s;
    border-radius: 100px;
    /* animation: clockround 60s linear 0s infinite forwards; */
}

.clock.super .clockhands .hand.hour .label > div {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.clock.super .clockhands .hand.minute .label > div {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}
.clock.super .clockhands .hand.second .label > div {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

.clock.super .clockhands .hand.hour .label,
.clock.super .clockhands .hand.minute .label,
.clock.super .clockhands .hand.second .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes clockround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

main section {
    text-align: center;
}

main section h4 {
    padding-top: 30px;
    font-size: 21px;
    font-weight: 400;
}

mark.price {
    display: inline-block;
    font-size: 17px;
    margin: 20px 0 5px;
    padding: 0 7px;
    /* background: none; */
}

a.details {
    display: inline-block;
    color: black;
    margin-right: 15px;
    text-decoration: none;
    display: none;
}

a.buy {
    background: #ff3b30;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    text-decoration: none;
}

article.delivery h3 {
    margin-top: 30px;
    font-weight: 100;
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-device-width: 1125px) {
    article.delivery h3 {
        margin: 30px 50px 0;
        font-weight: 100;
        text-align: center;
        font-size: 16px;
    }
}

.circles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* background: gray; */
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* background: red; */
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.1);
    /* box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.4); */
}

.shadows {
    position: relative;
    z-index: 50;
    height: 300px;
    /* transform: translate(10px, 10px); */
}

.shadows .shadow-piptyk {
    position: relative;
    z-index: 50;
    transform: translate(0.5px, 0.5px);
}

.shadows .shadow-piptyk .piptyk {
    /* background: gray !important; */
    background: rgba(0, 0, 0, 0.4) !important;
    /* background: red !important; */
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
}


.shadows .shadow-second {
    transform: translate(7px, 7px);
}

.shadows .shadow-second .second {
    /* background: gray !important; */
    background-color: transparent;
    background-image: url(./second-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 71%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
    /* background: rgba(0, 0, 0, 0.05) !important; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px; */
}


.shadows .shadow-minute {
    transform: translate(5px, 5px);
}

.shadows .shadow-minute .minute {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.06) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 3px; */
    z-index: 31;
    position: absolute;
    background-color: transparent;
    background-image: url(./minute-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 85.8%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
}


.shadows .shadow-hour {
    transform: translate(2px, 2px);
}

.shadows .shadow-hour .hour {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px; */
    background-color: transparent;
    background-image: url(./hour-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 81%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
}


.shadows .shadow-month {
    transform: translate(2px, 2px);
}

.shadows .shadow-month .hour {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px; */
    background-color: transparent;
    background-image: url(./hour-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 81%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
}


.shadows .shadow-day {
    transform: translate(5px, 5px);
}

.shadows .shadow-day .minute {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.06) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 3px; */
    background-color: transparent;
    background-image: url(./minute-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 85.8%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
}

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 11px;
    color: #aeaeb2;
}

@media only screen and (max-device-width: 1125px) {
    .price-and-btn {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    main section.clock-section article.desc {
        margin-top: 10px;
    }

    a.buy {
        display: inline-block;
        width: 140px;
        height: 20px;
        padding: 10px 0;
    }

    mark.price {
        margin: 0;
    }
}


.super .shadows .shadow-second {
    transform: translate(7px, 7px);
}

.super .shadows .shadow-second .second {
    /* background: gray !important; */
    background-color: transparent;
    background-image: url(./second-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 71%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
    /* background: rgba(0, 0, 0, 0.05) !important; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px; */
}


.super .shadows .shadow-second {
    transform: none;
}

.super .shadows .shadow-second .second {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    background-color: transparent;
    background-image: none;
    background-size: contain;
    background-position: center;
    transform-origin: center center;
    transform: none !important;
    filter: none;
    opacity: 1;
    background-color: transparent !important;
}


.super .shadows .shadow-hour {
    transform: none;
}

.super .shadows .shadow-hour .hour {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px; */
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    background-color: transparent;
    background-image: none;
    background-size: contain;
    background-position: center;
    transform-origin: center center;
    transform: none !important;
    filter: none;
    opacity: 1;
    background-color: transparent !important;
}


.super .shadows .shadow-minute {
    transform: none;
}

.super .shadows .shadow-minute .minute {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px; */
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    background-color: transparent;
    background-image: none;
    background-size: contain;
    background-position: center;
    transform-origin: center center;
    transform: none !important;
    filter: none;
    opacity: 1;
    background-color: transparent !important;
}


.shadows .shadow-month {
    transform: translate(2px, 2px);
}

.shadows .shadow-month .hour {
    /* background: gray !important; */
    /* background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px; */
    background-color: transparent;
    background-image: url(./hour-hand.png);
    background-size: contain;
    background-position: center;
    transform-origin: 50% 81%;
    filter: grayscale(100%) blur(2px);
    opacity: 0.2;
}

.buy-popup {
    z-index: 70;
    position: fixed;
    bottom: 0;
    background: white;
    height: 300px;
    width: 100vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 150px;
    transition: all ease-out 200ms;
}

.buy-popup .content {
    position: absolute;
    left: 0;
    right: 0;
    width: 600px;
    margin: auto;
}

.buy-popup .content h1 {
    padding: 10px 0 3px;
}

.buy-popup .content textarea {
    position: relative;
    margin-top: 10px;
    width: 90%;
    border-radius: 3px;
}

.buy-popup .content h2 {
    padding-top: 20px;
}

.buy-popup .content p {
    font-size: 15px;
    color: #48484a;
}

.buy-popup .content button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.hide {
    bottom: -300px;
    box-shadow: rgba(0, 0, 0, 0) 0 0 150px;
}

@media only screen and (max-device-width: 1125px) {
    .buy-popup {
        height: 350px;
    }

    .buy-popup .content {
        width: 100%;
    }

    .hide {
        bottom: -400px;
    }
}


@media only screen and (max-device-width: 340px) {
    main h4 {
        padding-top: 0 !important;
    }
}